h1 {
  text-align: left;
  font-style: italic;
  font-family: 'Dancing Script', cursive;
  font-size: 36px;
  background-color: black;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 280px;
  margin: auto;
  padding-top: 5px;
  padding-bottom:5px;
  padding-left:10px;
}

ul {
  background-color: rgb(227, 227, 227);
  font-family: 'Nunito', sans-serif;
  width: 250px;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style-type: circle;
}